<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="angular.min.js"></script>
	<script>
	var app = angular.module('app',[]);
	app.controller('c1',function($scope){
		$scope.arr=['张三','李四','王武','赵柳','刘琦'];

		$scope.arr2=['111','222','111','111'];


		$scope.person = [
			{name:'吕布',address:'绥德',sex:'男'},
			{name:'貂蝉',address:'米脂',sex:'女'},
			{name:'张辽',address:'西安',sex:'男'}
		]
	})

	</script>
</head>
<body>
	<ul ng-controller="c1">
		<li ng-repeat="(k,v) in arr">{{k}}{{v}}{{$index}}</li>
	</ul>

	<ol ng-controller="c1">
		<li ng-repeat="v in arr2 track by $index">{{$index}}{{v}}</li>
	</ol>

	<table ng-controller="c1" border='1'>
		<tr>
			<th>$index</th>
			<th>value</th>
			<th>$first</th>
			<th>$middle</th>
			<th>$last</th>
			<th>$even</th>
			<th>$odd</th>
		</tr>
		<tr ng-repeat="v in arr2 track by $index"  style="background:{{$even?'#888':''}}">
			<td>{{$index}}</td>
			<td>{{v}}</td>
			<td>{{$first}}</td>
			<td>{{$middle}}</td>
			<td>{{$last}}</td>
			<td>{{$even}}</td>
			<td>{{$odd}}</td>
		</tr>
	</table>

	<table ng-controller="c1">
		<tr>
			<th>编号</th>
			<th>姓名</th>
			<th>地址</th>
			<th>性别</th>
		</tr>
		<tr ng-repeat="v in person" style="background:{{v.sex=='女'?'red':'blue'}}">
			<td>{{$index+1}}</td>
			<td>{{v.name}}</td>
			<td>{{v.address}}</td>
			<td>{{v.sex}}</td>
		</tr>
	</table>
</body>
</html>