body,ul,ol,dl,h1,h2,h3,h4,h5,h6,p,input{padding:0;margin:0;list-style:none;}
img{border:none;}
a{text-decoration:none;}
body{font-size:12px; font-family:"宋体";color:#333;}
/*顶部*/
.top-container{width:100%;height:24px;background:#f6f6f6;}
.top-line{width:100%;height:1px;background:#eeeeee;margin-top:1px;}
.top-inner{width:1200px;height:24px;margin:0 auto;}
.top-content{width:145px;height:24px;float:left;line-height:24px;color:#808080;} 
.top-list11{width:71px;height:24px;float:left;border-right:1px solid #e6e0e3;text-align:center;line-height:24px;}
.top-english a{color:#888;}
.top-content2{width:257px;height:24px;float:right;}
.top3{width:85px;height:24px;float:left;border-right:1px solid #e3e0e6;text-align:center;line-height:24px;}
.top-content1{width:170px;height:24px;float:right;line-height:24px;color:#808080;} 
.top1{width:30px;height:24px;float:left;background:url(../image/d.png.)0 5px;background-repeat:no-repeat;line-height:24px;padding-left:15px;border-right:1px solid #dfdfdf;}
.top2{width:96px;height:24px;float:left;background:url(../image/yyt.jpg),url(../image/new.jpg)80px 4px;background-repeat:no-repeat;line-height:24px;padding-left:18px;border-right:1px solid #dfdfdf;}
/*搜索*/
.search-container{width:1200px;height:92px;margin:0 auto;}
.search-content1{width:230px;height:92px;/*background:red;*/float:left;}
.search-content1 .img{width:230px;height:42px;display:block;margin-top:25px}
.search-content2{width:625px;height:92px;float:right;}
.search-top{width:575px;height:35px;margin-top:15px;}
#search{width:490px;height:33px;border:1px solid #ccc;border-right:none;padding:0 10px;float:left;}
#button{width:62px;height:35px;background:#25b2fe;float:left;cursor:pointer;}
.search-bottom{width:575px;height:35px;}
.zifei{width:70px;height:35px;line-height:35px;float:left;}
.zifei a{color:#e40077;}
.kuandai{width:40px;height:35px;line-height:35px;float:left;}
.kuandai{color:#666;}
.zhongduan{width:80px;height:35px;line-height:35px;float:left;}
.zhongduan{color:#666;}
.jifei{width:80px;height:35px;line-height:35px;float:left;}
.jifei a{color:#e40077;}
.heyue{width:60px;height:35px;line-height:35px;float:left;}
.heyue{color:#666;}
.cailing{width:80px;height:35px;line-height:35px;float:left;}
.cailing a{color:#e40077;}
/*导航*/
.nav-container{width:1200px;height:40px;margin:5px auto;background:#e4e4e4;}
.nav-list0{width:159px;height:40px;float:left;border-right:1px solid #f4f4f4;line-height:40px;text-align:center;font-size:16px;}
.nav-list0 a{color:#666677;}
.nav-list{width:259px;height:40px;float:left;border-right:1px solid #f4f4f4;text-align:center;line-height:40px;font-size:16px;color:#666677;}
.nav-list a{color:#666677;}
/*banner*/
.banner-container{width:1200px;height:350px;margin:0 auto 10px;}
.zuo{width:159px;height:348px;/*background:blue;*/border-top:1px solid #b8d9e9;border-right:1px solid #b8d9e9;border-bottom:1px solid #b8d9e9;float:left;overflow:hidden;}
.zuo-list1{width:159px;height:32px;border-bottom:1px solid #ededed;text-align:center;line-height:32px;}
.zuo-list2{width:159px;height:62px;border-bottom:1px solid #ededed;text-align:center;line-height:62px;background:url(../image/msj.jpg)36px 19px;background-repeat:no-repeat;}
.zuo-list3{width:159px;height:62px;border-bottom:1px solid #ededed;text-align:center;line-height:62px;background:url(../image/btc.jpg)36px 19px;background-repeat:no-repeat;}
.zuo-list4{width:159px;height:62px;border-bottom:1px solid #ededed;text-align:center;line-height:62px;background:url(../image/byw.jpg)36px 19px;background-repeat:no-repeat;}
.zuo-list5{width:159px;height:62px;border-bottom:1px solid #ededed;text-align:center;line-height:62px;background:url(../image/tpj.jpg)36px 19px;background-repeat:no-repeat;}
.zuo-list6{width:159px;height:62px;border-bottom:1px solid #ededed;text-align:center;line-height:62px;background:url(../image/grzx.jpg)36px 19px;background-repeat:no-repeat;}
.zhongjian{width:740px;height:350px;float:left;position:relative;margin-left:10px;overflow:hidden;}
.zhongjian .img{width:740px;height:350px;}
.zhongjian a{display:block;}
.btnbox{width:140px;height:16px;position:absolute;left:300px;bottom:7px;}
.dian1{width:16px;height:16px;background:#dddddd;float:left;margin:0 2px;border-radius:50%;overflow:hidden;}
.youbian{width:278px;height:348px;margin-left:10px;float:left;border:1px solid #b8d9e9;overflow:hidden;}
.yb-top{width:278px;height:174px;float:left;overflow:hidden;}
.topzuo{width:92px;height:174px;float:left;overflow:hidden;}
.topzuo-list{width:92px;height:27px;text-align:center;padding-top:60px;background:url(../image/hfcx.jpg)27px 20px;background-repeat:no-repeat;}
.topzuo-list1{width:92px;height:27px;text-align:center;display:block;padding-top:60px;background:url(../image/jfdh.jpg)27px 20px;background-repeat:no-repeat;text-align:center;}
.topzhong{width:92px;height:174px;float:left;overflow:hidden;}
.topzhong-list2{width:92px;height:27px;text-align:center;display:block;padding-top:60px;background:url(../image/llcx.jpg)27px 20px;background-repeat:no-repeat;text-align:center;}
.topzhong-list3{width:92px;height:27px;text-align:center;display:block;padding-top:60px;background:url(../image/yhcx.jpg)27px 20px;background-repeat:no-repeat;text-align:center;}
.topyou{width:92px;height:174px;float:left;overflow:hidden;}
.topyou-list4{width:92px;height:27px;text-align:center;display:block;padding-top:60px;background:url(../image/gj.jpg)27px 20px;background-repeat:no-repeat;text-align:center;}
.topyou-list5{width:92px;height:27px;text-align:center;display:block;padding-top:60px;background:url(../image/ywbl.jpg)27px 20px;background-repeat:no-repeat;text-align:center;}
.yb-bottom{width:278px;height:174px;float:left;overflow:hidden;}
.bottom1{width:278px;height:20px;margin-top:10px;margin-bottom:10px;}
.cz{width:55px;height:20px;color:#333;float:left;text-align:center;line-height:20px;margin-left:22px;overflow:hidden;}
.cz a{color:#333;}
.z{width:60px;height:20px;color:#333;float:right;text-align:center;line-height:20px;margin-right:22px;overflow:hidden;}
.z span{font-size:14px;color:#ff0000;}
.shuru{width:220px;height:35px;background:red;border:1px solid #e8e8e8;margin-left:22px;}
#search1{width:220px;height:35px;float:left;overflow:hidden;}
.bottom2{width:245px;height:37px;margin-left:22px;margin-top:10px;margin-bottom:10px;}
.list{width:42px;height:35px;border:1px solid #e3e3e3;text-align:center;line-height:35px;float:left;overflow:hidden;}
.list a{color:#666;}
.list:hover{background:#e40077;}
.list:hover a{color:#fff;}
.list1{width:42px;height:35px;border:1px solid #e3e3e3;text-align:center;line-height:35px;margin-left:6px;float:left;}
.list1 a{color:#666;}
.list1:hover{background:#e40077;}
.list1:hover a{color:#fff;}
.list2{width:42px;height:35px;border:1px solid #e3e3e3;text-align:center;line-height:35px;margin-left:6px;float:left;overflow:hidden;}
.list2 a{color:#666;}
.list2:hover{background:#e40077;}
.list2:hover a{color:#fff;}
.list3{width:42px;height:35px;border:1px solid #e3e3e3;text-align:center;line-height:35px;margin-left:6px;float:left;overflow:hidden;}
.list3 a{color:#666;}
.list3:hover{background:#e40077;}
.list3:hover a{color:#fff;}
.list4{width:42px;height:35px;border:1px solid #e3e3e3;text-align:center;line-height:35px;margin-left:6px;float:left;}
.list4 a{color:#666;}
.list4:hover{background:#e40077;}
.list4:hover a{color:#fff;}
.bottom3{width:245px;height:35px;margin-left:22px;float:left;overflow:hidden;}
.lj{width:90px;height:35px;background:#33acfb;float:left;margin-left:77px;text-align:center;line-height:35px;overflow:hidden;}
/*内容1*/
.container1{width:1200px;height:180px;background:#dfdfdf;margin:0 auto;}
.indexbox1{width:285px;height:160px;background:#fff;float:left;margin-left:15px;margin-top:10px;margin-bottom:10px;}
.content1{width:265px;height:24px;;padding:6px 0 0 20px;}
.content1 a{font-size:18px;color:#333;}
.content2{width:265px;height:20px;padding:0 0 0 20px;}
.content2 a{font-size:14px;color:#666;}
.content3{width:235px;height:110px;margin-left:50px;}
.content3 a{display:block;}
.indexbox2{width:285px;height:160px;background:#fff;float:left;margin-left:10px;margin-top:10px;margin-bottom:10px;}
.content1{width:265px;height:24px;padding:6px 0 0 20px;}
.content1 a{font-size:18px;color:#333;}
.content2{width:265px;height:20px;padding:0 0 0 20px;}
.content2 a{font-size:14px;color:#666;}
.content3{width:235px;height:110px;margin-left:50px;}
.content3 a{display:block;}
.indexbox3{width:285px;height:160px;background:#fff;float:left;margin-left:10px;margin-top:10px;margin-bottom:10px;}
.content1{width:265px;height:24px;padding:6px 0 0 20px;}
.content1 a{font-size:18px;color:#333;}
.content2{width:265px;height:20px;padding:0 0 0 20px;}
.content2 a{font-size:14px;color:#666;}
.content3{width:235px;height:110px;margin-left:50px;}
.content3 a{display:block;}
.indexbox4{width:285px;height:160px;background:#fff;float:left;margin-left:10px;margin-top:10px;margin-bottom:10px;}
.content1{width:265px;height:24px;padding:6px 0 0 20px;}
.content1 a{font-size:18px;color:#333;}
.content2{width:265px;height:20px;padding:0 0 0 20px;}
.content2 a{font-size:14px;color:#666;}
.content3{width:235px;height:110px;margin-left:50px;}
.content3 a{display:block;}
/*内容2*/
.container2{width:1200px;height:425px;margin:10px auto;}
.top{width:1198px;height:46px;border-left:1px solid #dfdfdf;border-top:1px solid #dfdfdf;border-right:1px solid #dfdfdf;}
.top-zuo{width:50px;height:46px;margin-left:27px;float:left;}
.top-zuo span{font-size:15px;color:#0085d0;font-weight:bold;text-align:center;line-height:46px;}
.top-you{width:60px;height:46px;float:right;margin-right:27px;}
.top-you a{color:#666;text-align:center;line-height:46px;}
.bottomA{width:298px;height:377px;border:1px solid #dfdfdf;float:left;} 
.bottomA a{display:block;}
.bottomB{width:299px;height:377px;border:1px solid #dfdfdf;border-left:none;float:left;}
.B-shang{width:299px;height:188px;background:#fff;border-bottom:1px solid #dfdfdf;}
.B-shang1{width:279px;height:24px;padding:6px 0 0 20px;}
.B-shang1 a{font-size:18px;font-weight:bold;color:#333;}
.B-shang2{width:279px;height:27px;padding:0 0 0 20px;}
.B-shang2 a{font-size:14px;color:#666;}
.B-shang3{width:220px;height:130px;margin-left:79px;}
.B-shang3:hover{transform:translateX(-10px);}
.B-shang3 a{display:block;}
.B-xia{width:299px;height:188px;background:#efefef;}
.B-xia1{width:279px;height:24px;padding:6px 0 0 20px;}
.B-xia1 a{font-size:18px;font-weight:bold;color:#e40077;}
.B-xia2{width:279px;height:27px;padding:0 0 0 20px;}
.B-xia2 a{font-size:14px;color:#8e8e8e;}
.B-xia3{width:220px;height:130px;margin-left:79px;}
.B-xia3:hover{transform:translateX(-10px);}
.B-xia3 a{display:block;}
.bottomC{width:299px;height:377px;border:1px solid #dfdfdf;border-left:none;float:left;}
.C-shang{width:299px;height:188px;background:#efefef;border-bottom:1px solid #dfdfdf;}
.C-shang1{width:279px;height:24px;padding:6px 0 0 20px;}
.C-shang1 a{font-size:18px;font-weight:bold;color:#e40077;}
.C-shang2{width:279px;height:27px;padding:0 0 0 20px;}
.C-shang2 a{font-size:14px;color:#8e8e8e;}
.C-shang3{width:220px;height:130px;margin-left:79px;}
.C-shang3:hover{transform:translateX(-10px);}
.C-shang3 a{display:block;}
.C-xia{width:299px;height:188px;background:#fff;}
.C-xia1{width:279px;height:24px;padding:6px 0 0 20px;}
.C-xia1 a{font-size:18px;font-weight:bold;color:#333;}
.C-xia2{width:279px;height:27px;padding:0 0 0 20px;}
.C-xia2 a{font-size:14px;color:#666;}
.C-xia3{width:220px;height:130px;margin-left:79px;}
.C-xia3:hover{transform:translateX(-10px);}
.C-xia3 a{display:block;}
.bottomD{width:299px;height:377px;float:left;border:1px solid #dfdfdf;border-left:none;}
.D-shang{width:299px;height:188px;background:#fff;border-bottom:1px solid #dfdfdf;}
.D-shang1{width:279px;height:24px;padding:6px 0 0 20px;}
.D-shang1 a{font-size:18px;font-weight:bold;color:#333;}
.D-shang2{width:279px;height:27px;padding:0 0 0 20px;}
.D-shang2 a{font-size:14px;color:#666;}
.D-shang3{width:220px;height:130px;margin-left:79px;}
.D-shang3:hover{transform:translateX(-10px);}
.D-shang3 a{display:block;}
.D-xia{width:299px;height:188px;background:#efefef;}
.D-xia1{width:279px;height:24px;padding:6px 0 0 20px;}
.D-xia1 a{font-size:18px;font-weight:bold;color:#e40077;}
.D-xia2{width:279px;height:27px;padding:0 0 0 20px;}
.D-xia2 a{font-size:14px;color:#8e8e8e;}
.D-xia3{width:220px;height:130px;margin-left:79px;}
.D-xia3:hover{transform:translateX(-10px);}
.D-xia3 a{display:block;}
/*内容3*/
.container3{width:1198px;height:411px;border:1px solid #e5e5e5;margin:0px auto;}
.sjtop{width:1198px;height:47px;}
.sjtop-zuo{width:50px;height:47px;margin-left:27px;float:left;}
.sjtop-zuo span{color:#0085d0;font-size:15px;font-weight:bold;text-align:center;line-height:47px;}
.sjtop-you{width:60px;height:47px;float:right;margin-right:27px;}
.sjtop-you a{color:#666;text-align:center;line-height:47px;}
.sjbottomA{width:299px;height:363px;border:1px solid #e5e5e5;border-left:none;border-bottom:none;float:left;}
.sjbottomA1{width:278px;height:18px;padding:20px 0 0 20px;}
.sjbottomA1 a{font-size:14px;color:#666;}
.sjbottomA2{width:278px;height:20px;padding:0 0 0 20px;}
.sjbottomA2 a{font-size:12px;color:#0085d0;}
.sjbottomA3{width:278px;height:30px;padding:10px 0 0 20px;}
.sjbottomA3 a{font-size:20px;color:#ef33a2;}
.sjbottomA4{width:220px;height:265px;margin-left:78px;}
.sjbottomA4:hover{transform:translateX(-10px);}
.sjbottomA4 a{display:block;}
.sjbottomB{width:299px;height:363px;border:1px solid #e5e5e5;border-left:none;border-bottom:none;float:left;}
.sjbottomB1{width:200px;height:18px;padding:20px 0 0 20px;}
.sjbottomB1 a{font-size:14px;color:#666;}
.sjbottomB2{width:200px;height:20px;padding:0 0 0 20px;}
.sjbottomB2 a{font-size:12px;color:#0085d0;}
.sjbottomB3{width:200px;height:30px;padding:10px 0 0 20px;}
.sjbottomB3 a{font-size:20px;color:#ef33a2;}
.sjbottomB4{width:220px;height:265px;margin-left:78px;}
.sjbottomB4:hover{transform:translateX(-10px);}
.sjbottomB4 a{display:block;}
.sjbottomC{width:299px;height:363px;border:1px solid #e5e5e5;border-left:none;border-bottom:none;float:left;}
.sjbottomC1{width:278px;height:18px;padding:20px 0 0 20px;}
.sjbottomC1 a{font-size:14px;color:#666;}
.sjbottomC2{width:278px;height:20px;padding:0 0 0 20px;}
.sjbottomC2 a{font-size:12px;color:#0085d0;}
.sjbottomC3{width:278px;height:30px;padding:10px 0 0 20px;}
.sjbottomC3 a{font-size:20px;color:#ef33a2;}
.sjbottomC4{width:220px;height:265px;margin-left:78px;}
.sjbottomC4:hover{transform:translateX(-10px);}
.sjbottomC4 a{display:block;}
.sjbottomD{width:298px;height:363px;border:1px solid #e5e5e5;border-left:none;border-right:none;border-bottom:none;float:left;}
.sjbottomD1{width:278px;height:18px;padding:20px 0 0 20px;}
.sjbottomD1 a{font-size:14px;color:#666;}
.sjbottomD2{width:278px;height:20px;padding:0 0 0 20px;}
.sjbottomD2 a{font-size:12px;color:#0085d0;}
.sjbottomD3{width:278px;height:30px;padding:10px 0 0 20px;}
.sjbottomD3 a{font-size:20px;color:#ef33a2;}
.sjbottomD4{width:220px;height:265px;margin-left:78px;}
.sjbottomD4:hover{transform:translateX(-10px);}
.sjbottomD4 a{display:block;}
/*内容4*/
.container4{width:1200px;height:425px;margin:10px auto;}
.ywtop{width:1198px;height:46px;border-left:1px solid #dfdfdf;border-top:1px solid #dfdfdf;border-right:1px solid #dfdfdf;}
.ywtop-zuo{width:80px;height:46px;margin-left:27px;float:left;}
.ywtop-zuo span{font-size:15px;color:#0085d0;font-weight:bold;text-align:center;line-height:46px;}
.ywtop-you{width:60px;height:46px;float:right;margin-right:27px;}
.ywtop-you a{color:#666;text-align:center;line-height:46px;}
.ywbottomA{width:298px;height:377px;border:1px solid #dfdfdf;float:left;} 
.ywbottomA a{display:block;}
.ywbottomB{width:299px;height:377px;float:left;border:1px solid #dfdfdf;border-left:none;}
.b-shang{width:299px;height:187px;background:#fff;border-bottom:1px solid #dfdfdf;}
.b-shang1{width:279px;height:24px;padding:6px 0 0 20px;}
.b-shang1 a{font-size:18px;font-weight:bold;color:#333;}
.b-shang2{width:278px;height:26px;padding:0 0 0 20px;}
.b-shang2 a{font-size:14px;color:#666;}
.b-shang3{width:220px;height:131px;margin-left:79px;}
.b-shang3:hover{transform:translateX(-10px);}
.b-shang3 a{display:block;}
.b-xia{width:299px;height:188px;background:#fff;}
.b-xia1{width:279px;height:24px;padding:6px 0 0 20px;}
.b-xia1 a{font-size:18px;font-weight:bold;color:#333;}
.b-xia2{width:279px;height:26px;padding:0 0 0 20px;}
.b-xia2 a{font-size:14px;color:#666;}
.b-xia3{width:220px;height:132px;margin-left:79px;}
.b-xia3:hover{transform:translateX(-10px);}
.b-xia3 a{display:block;}
.ywbottomC{width:299px;height:377px;float:left;border:1px solid #dfdfdf;border-left:none;}
.c-shang{width:299px;height:187px;background:#fff;border-bottom:1px solid #dfdfdf;}
.c-shang1{width:279px;height:24px;padding:6px 0 0 20px;}
.c-shang1 a{font-size:18px;font-weight:bold;color:#333;}
.c-shang2{width:279px;height:26px;padding:0 0 0 20px;}
.c-shang2 a{font-size:14px;color:#666;}
.c-shang3{width:220px;height:131px;margin-left:79px;}
.c-shang3:hover{transform:translateX(-10px);}
.c-shang3 a{display:block;}
.c-xia{width:299px;height:188px;background:#fff;}
.c-xia1{width:279px;height:24px;padding:6px 0 0 20px;}
.c-xia1 a{font-size:18px;font-weight:bold;color:#333;}
.c-xia2{width:279px;height:26px;padding:0 0 0 20px;}
.c-xia2 a{font-size:14px;color:#666;}
.c-xia3{width:220px;height:131px;margin-left:79px;}
.c-xia3:hover{transform:translateX(-10px);}
.c-xia3 a{display:block;}
.ywbottomD{width:299px;height:377px;float:left;border:1px solid #dfdfdf;border-left:none;}
.d-shang{width:299px;height:187px;background:#fff;border-bottom:1px solid #dfdfdf;}
.d-shang1{width:279px;height:24px;padding:6px 0 0 20px;}
.d-shang1 a{font-size:18px;font-weight:bold;color:#333;}
.d-shang2{width:279px;height:26px;padding:0 0 0 20px;}
.d-shang2 a{font-size:14px;color:#666;}
.d-shang3{width:220px;height:131px;margin-left:79px;}
.d-shang3:hover{transform:translateX(-10px);}
.d-shang3 a{display:block;}
.d-xia{width:299px;height:188px;background:#fff;}
.d-xia1{width:279px;height:24px;padding:6px 0 0 20px;}
.d-xia1 a{font-size:18px;font-weight:bold;color:#333;}
.d-xia2{width:279px;height:26px;padding:0 0 0 20px;}
.d-xia2 a{font-size:14px;color:#666;}
.d-xia3{width:220px;height:131px;margin-left:79px;}
.d-xia3:hover{transform:translateX(-10px);}
.d-xia3 a{display:block;}
/*内容5*/
.container5{width:1198px;height:37px;margin:10px auto;border:1px solid #dfdfdf;}
.gg{width:50px;height:37px;padding-left:40px;line-height:37px;background:url(../image/laba.jpg)0 10px;background-repeat:no-repeat;margin-left:20px;float:left;}
.gg span{color:#666;font-size:14px;}
.disidai{width:304px;height:37px;float:left;line-height:37px;}
.disidai a{font-size:14px;}
.shijian1{width:85px;height:37px;float:left;line-height:37px;text-align:center;}
.shijian1 span{color:#CCC;}
.guanjian{width:304px;height:37px;float:left;line-height:37px;margin-left:80px;}
.guanjian a{font-size:14px;}
.shijian2{width:85px;height:37px;float:left;line-height:37px;text-align:center;}
.shijian2 span{color:#CCC;}
.youjian{width:10px;height:37px;float:right;line-height:37px;text-align:center;margin-right:33px;}
.zuojian{width:10px;height:37px;float:right;line-height:37px;text-align:center;margin-right:13px;}
/*内容6*/
.container6{width:1198px;height:229px;border:1px solid #dfdfdf;margin:0 auto;}
.con6-con1{width:233px;height:175px;margin-top:28px;margin-left:27px;float:left;font-size:15px;overflow:hidden;}
.fuwu{width:233px;height:25px;line-height:25px;font-size:15px;color:#666;}
.fuwu a{color:#666;}
.con6-con2{width:233px;height:175px;margin-top:28px;float:left;font-size:15px;overflow:hidden;}
.fuwu{width:233px;height:25px;line-height:25px;font-size:15px;}
.con6-con3{width:233px;height:175px;margin-top:28px;float:left;font-size:15px;overflow:hidden;}
.fuwu{width:233px;height:25px;line-height:25px;font-size:15px;}
.con6-con4{width:233px;height:175px;margin-top:28px;float:left;font-size:15px;overflow:hidden;}
.fuwu{width:233px;height:25px;line-height:25px;font-size:15px;}
.con6-con5{width:210px;height:175px;margin-top:28px;float:left;font-size:15px;overflow:hidden;}
.fuwu{width:233px;height:25px;line-height:25px;font-size:15px;}
/*内容7*/
.container7{width:587px;height:13px;margin:20px auto;}
.service-list{height:13px;float:left;border-right:1px solid #d17433;padding:0 4px;}
.service-list a{color:#666;}
/*内容8*/
.container8{width:587px;height:13px;margin:0 auto;}
.zhang{height:13px;float:left;}
.service-list1{height:13px;float:left;float:left;}
/*内容9*/
.container9{width:244px;height:18px;margin:20px auto;text-align:center;line-height:18px;}
.zhonghua{width:432px;height:18px;margin:0 auto;text-align:center;line-height:18px;}
.kexin{width:284px;height:47px;margin:20px auto;}
.ke{width:128px;height:47px;float:left;}
.ke a{display:block;}
.jing{width:112px;height:12px;float:left;margin-left:10px;margin-top:17px;}