body,ul,ol,dl,h1,h2,h3,h4,h5,h6,p,input{padding:0;margin:0;list-style:none;}
img{border:none;}
a{text-decoration:none;}
body{font-size:12px; font-family:"宋体";color:#333;background-color: #F2F2F2;}
em{font-style: normal;}
/*顶部*/
.top-container{
    width:100%;height:32px;
    background:#f2f2f2;
}
.top-line{
    width:100%;height:1px;
    background:#e8e8e8;
}
.top-content1{
    width:207px;height:32px;
    margin-left:200px;
    float:left;
}
.top-list1{
    width:207px;height:32px;
    margin:0 auto;line-height:32px;
}
.top-list1 span{
    margin-right:30px;color:#999;
}
.top-list1 a{color:#999;}
.top-list1 a:hover{color:#c60a0a;}
.top-content2{
    width:600px;height:32px;
    float:right;
    margin-right:200px;
}
.list{
    height:32px;line-height:32px;
    float:left;padding-left:10px;
}
.list1{
    height:32px;line-height:32px;
    float:left;padding-left:10px;
}
.list a{color:#9999a5;}
.list a:hover{color:#c60a0a;}
.list1 a{color:#9999a5;}
.list1 a:hover{color:#c60a0a;}
@font-face {
    font-family: 'iconfont';  /* project id 225899 */
    src: url('//at.alicdn.com/t/font_9awaeru9lub4kj4i.eot');
    src: url('//at.alicdn.com/t/font_9awaeru9lub4kj4i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_9awaeru9lub4kj4i.woff') format('woff'),
    url('//at.alicdn.com/t/font_9awaeru9lub4kj4i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_9awaeru9lub4kj4i.svg#iconfont') format('svg');
}
.icon{
    font-family:'iconfont';
    margin-top:8px;float:left;
    padding-left:10px;color:#c40000;
}
/*内容1*/
.logo-container{
    width:1519px;height:129px;
    margin:0 auto;
    border-top:1px solid #fff;
    background:#fff;
}
.logo-content{
    width:200px;height:129px;
    background:url(../images/logo.jpg) no-repeat;
    float:left;
    margin-left:144px;
}
.search-content {
    width:645px;height:62px;
    margin-left:400px;margin-top:35px;
}
.search-top{
    width:645px;height:39px;
}
#search{
    width:492px;height:35px;
    border:2px solid #c40000;border-right:none;
    padding:0 10px;float:left;
}
#button{
    width:131px;height:39px;
    background:#c40000;float:right;
    cursor:pointer;border:none;
}
.bottom{
    width:645px;height:23px;
}
.search-list{
    width:67px;height:23px;
    float:left;border-right:1px solid #dbdbdb;
    line-height:23px;
    text-align:center;
}
.search-list a{
    color:#999;
}
/*导航*/
.nav{
    width:100%;height:36px;
    background:#dd2727;
}
.nav-text{
    width:1230px;height:36px;
    margin:0 auto;
}
.text{
    width:200px;height:36px;
    background:#c60a0a;float:left;
}
.icon1{
    font-family:'iconfont';
    color:#c40000;
}
.text{
    font-size:16px;color:#ffffd0;
    text-align:center;line-height:36px;
}
.nav-container{
    width:1030px;height:36px;
    margin-left:200px;
}
.nav-list1{
    float:left;padding-left:20px;
}
.nav-list1 a{
    font-size:16px;color:#fff;
    font-weight:bold;line-height:36px;
}
.hover1-pic{
    width: 40px;
    height: 15px;
    background:url(../images/maotou.png) no-repeat;
    background-size: 40px 15px;
    display: none;
    position: absolute;
    transform: translate(25px,-10px);
}
.nav-list1:hover .hover1-pic{
    display: block;
}
.nav-list{
    float:left;padding-left:20px;
}
.nav-list a{
    font-size:16px;color:#fff;
    line-height:36px;
}
.hover2-pic{
    width: 40px;
    height: 15px;
    background:url(../images/maotou.png) no-repeat;
    background-size: 40px 15px;
    display: none;
    position: absolute;
    transform: translate(10px,-10px);
}
.nav-list:hover .hover2-pic{
    display: block;
}
.hover3-pic{
    width: 40px;
    height: 15px;
    background:url(../images/maotou.png) no-repeat;
    background-size: 40px 15px;
    display: none;
    position: absolute;
    transform: translate(3px,-10px);
}
.nav-list:hover .hover3-pic{
    display: block;
}
.icon1{
    font-family:'iconfont';
    float:left;
    padding-left:10px;color:#c40000;
}
/*banner*/
.banner-container{
    width:100%;height:500px;
    background:#e8e8e8;
}
.banner-content{
    width:1230px;height:500px;
    margin:0 auto;
}
.content-zuo{
    width:200px;height:500px;
    background:#eee;float:left;
}
.zuo-list{
    line-height:31px;font-size:14px;
}
.zuo-list a{
    color:#000;
    margin-left: 10px;
}
.zuo-list a:hover{
    color:#e54077;font-weight:bold;
}
.icon2{
    font-family:'iconfont';
    color:#777;margin-left:20px;
}
.icon2:hover{
    color:#e54077;font-weight:bold;
}
.banner{
    width:1230px;height:500px;
}
.banner img{
    float:left;
}
.content-you{
    width:100px;height:480px;
    background:#747474;
    float:left;margin-top:10px;
}
.content-you:hover{
    background:#2E2E2E;
}
.avatar-con{
    width: 100%;height: 90px;
    overflow:hidden;
}
.avatar-default{
    width: 70px;height: 70px;
    margin:12px auto;
    background:url(../images/mao.png) no-repeat;
}
.login-info{
    width: 80px;height: 83px;
    margin:0 auto;text-align:center;
    font-size:12px;
    color:#fff;
}
.login-info a{
    color:#fff;
    display: block;
    line-height: 22px;
}
.login-info a:hover{
    text-decoration:underline;
}
.login-button{
    background-color: #DD2727;
    border-radius: 12px;
    height: 24px;width: 80px;
    margin: 9px auto 6px;
}
.icon3{
    font-family:'iconfont';
    color:#fff;
}
.register{
    width:80px;height:22px;
    line-height:22px;
}
.register a:hover{text-decoration:underline;}
.seprate{
    border-bottom: 1px solid #5a5a5a;
    width: 80px;
    margin: 0 auto;
    height: 0;
}
.more-info-con{
    height:147px;overflow: hidden;
}
.more-info{
    margin-top: 20px;text-align: center;
}
.icon4{
    font-family:'iconfont';
    color:#fff;
    overflow: hidden;
    display: inline-block;
    font-size:12px;
    margin-right: 5px;
    height: 22px;
    line-height: 22px;
}
.get-more{
    font-size:12px;color:#fff;
}
.get-more:hover{text-decoration:underline;}
.recommends-con{
    height:154px;
}
.con-title{
    background-color: rgba(0,0,0,.15);
    height:24px;line-height:24px;
    text-align:center;color:#fff;
}
.recommends-con .pic{
    height: 57px;  width: 57px;
    margin: 17px auto 7px;
    display: block;
    border-radius: 28px;
}
.title-ni{
    text-align:center;font-size:12px;
}
.sub-title-ni{
    text-align:center;font-size:12px;
}
/*内容2*/
.container1{
    width:1230px;height:436px;
    margin:44px auto 30px;
}
.pinpan-content{
    width:488px;height:436px;
    float:left;
}
.brand-list{
    width:732px;height:436px;
    float:right;
}
.brand-item{
    width:121px;height:436px;
    background:#fff;
    border-right:1px solid #f5f5f5;
    float:left;
}
.brand-mask{
    width:121px;height:85px;
    border-bottom:1px solid #f5f5f5;
    padding-top:23px;
    position: relative;
}
.brand-mask1{
    width: 100%;height: 100%;
    position: absolute;
    left:0;top:0;
    background: #333;
    background-color: rgba(0,0,0.8);
    z-index: 1;
    display: none;
}
.brand-mask2{
    width:121px;height:108px;
    border-bottom:1px solid #f5f5f5;
    position: relative;
}
.rotate-icon{
    font-family:'iconfont';
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -30px;
    font-size: 30px;
    text-align: center;
    line-height: 38px;
    border-radius: 20px;
}
.icon7{
    font-family:'iconfont';
}
.btn-text{
    display: block;
    font-size: 14px;
    line-height: 136px;
    text-align: center;
}
.brand-mask2 span:hover{
    color:#fff;
}
.icon7:hover{
    color:#fff;
}
.brand-mask2:hover{
    background: #DD2727;
}
.icon6{
    font-family:'iconfont';
    width: 20px;height: 20px;
    display: block;
    position: absolute;
    top:8px; right: 8px;
    color:#fff;
    text-align: center;
    line-height: 20px;
    z-index: 100;
}
.coupon{
    color:#fff;
    text-align: center;
    line-height: 90px;
    height: 60px;
}
.coupon span{
    padding: 0 5px;
    display: block;
}
.enter{
    text-align: center;
    height: 32px;
}
.enter a{
    width: 63px;height: 18px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    border-radius: 9px;
    display: inline-block;
}
.brand-mask:hover .brand-mask1{
    display: block;
}
/*内容3*/
.container2{
    width:1230px;height:460px;
    margin:0 auto;
}
.content{
    width:238px;height:460px;
    float:left;background:#fff;
}
.column-title{
    width:238px;height:36px;
    background:#DD2727;
    text-align:center;line-height:36px;
}
.chao-text{
    color:#fff;font-size:18px;
    font-weight:bold;
}
.icon5{
    font-family:'iconfont';
    color:#fff;
    overflow: hidden;
    font-size:18px;
}
.item-title{
    width:238px;height:24px;
    font-size: 22px;
    line-height:24px;margin-top:19px;
    text-align:center;
}
.item-title a{
    color:#000;
}
.item-sub-title{
    width:238px;height:14px;
    display: block;margin-top: 5px;
    font-size: 14px;
    line-height: 14px;text-align:center;
}
.item-sub-title a{
    color: #888;
}
.img-con{
    width:140px;height:140px;
    margin: 9px auto 0;
    display: block;
    position: relative;
}
.img-mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 140px;
    height: 140px;
    background-color: #F7F7F7;
    border-radius: 70px;
    z-index: 10;
}
.img-con img{
    display: block;
    position: relative;
    z-index: 1;
    width: 95%;
}
.img-mask img:hover{
    transform:scale(1.1,1.1);
    transition: all 0.5s;
}
.seprate1{
    height:1px;width:200px;
    background-color: #EEE;
    margin: 0 auto;
}
.content1{
    width:238px;height:460px;
    margin-left:10px;float:left;
    background:#fff;
}
/*内容4*/
.tanx-con-mm{
    width:1230px;height:90px;
    margin:10px auto;
}
/*内容5*/
.container3{
    width:1230px;height:460px;
    background:#fff;
    margin:0 auto;
}
.floor-con{
    width:1230px;height:20px;
    background:#f2f2f2;
}
.color-mark{
    width:5px;height:20px;
    background-color: #EA5F8D;
    float:left;
}
.floor-name{
    width:72px;height:18px;
    margin-left:10px;
    text-align:center;line-height:18px;
    font-size: 18px;
    color: #000;
    float:left;
}
.floor-sub-name{
    width:137px;height:18px;
    margin-left:10px;
    text-align:center;line-height:18px;
    font-size: 18px;
    color: #000;
    float:left;
}
.hot-word-con{
    width: 580px;height:18px;
    float:right;text-align: right;
    font-size: 14px;
    margin-right:10px;
}
.hot-word-con a{
    color:#000;
}
.hot-word-con a:hover{
    text-decoration:underline;
}
.content-banner-con{
    width:246px;height:440px;
    background:green;float:left;
}
.banner-con{
    width:246px;height:300px;
    background:blue;
}
.slide-item{
    width:246px;height:30px;
    text-align:center;line-height:30px;
    background:#fbf4ef;
}
.slide-item a{
    font-size:14px;color:#000;
}
.slide-item a:hover{
    color:red;
}
.title-con{
    width:246px;height:110px;
    background:#ea5f8d;
}
.middle-column-con{
    width:246px;height:440px;
    float:left;
}
.one-grid{
    width:244px;height:219px;
    background:#fff;
    border-right:2px solid #f9f9f9;
    border-bottom:1px solid #f9f9f9;
    border-top:1px solid #f9f9f9;
}
.su-title{
    width:140px;height:18px;
    line-height:18px;
    font-size:14px;
}
.su-title a{
    color: #0AA6E8;
}
.title{
    width:93px;height:24px;
    line-height:24px;
    font-size:18px;margin-top:20px;
}
.title a{
    color:#000;
}
.sub-title{
    width:140px;height:18px;
    line-height:18px;
    font-size:14px;
}
.sub-title a{
    color:#EA5F8D;;
}
.tu{
    width:154px;height:154px;
    margin-left:90px;
}
.tu:hover{
    transform:translateX(-10px);
    transition: all 0.5s;
}
.tu a{
    display: block;
}
.right-column-con{
    width:240px;height:440px;
    float:right;
}
.second-grid{
    width:240px;height:146px;
    background:#fff;
    border-bottom:1px solid #f9f9f9;
    border-top:1px solid #f9f9f9;
}
.sub-title1{
    width:100px;height:18px;
    line-height:18px;
    font-size:14px;
    float:left;
}
.sub-title1 a{
    color:#EA5F8D;;
}
.nv{
    width:100px;height:100px;
    margin-left:140px;
}
.nv:hover{
    transform:translateX(-10px);
    transition: all 0.5s;
}
.nv a{
    display: block;
}
/*内容6*/
.container4{
    width:1230px;height:460px;
    background:#fff;
    margin:40px auto 10px;
}
/*内容13*/
.shop-con{
    width:1230px;height:694px;
    margin:0 auto;
}
.module-title{
    width:235px;height:30px;
    display: block;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    padding-left: 15px;
}
.module-title span{
    font-size: 14px;
}
.module-body{
    width:100%;height:694px;
}
.data-spm{
    width:594px;height: 326px;
    padding: 10px;
    background-color: #fff;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
}
.data-spm:hover{
    outline:1px solid #DE2D2D;
}
.heading{
    height:50px;
}
.logo{
    width: 100px;height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
    background-color: #fff;
    float: left;
}
.logo img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}
.meta{
    width: 200px; height: 50px;
    float: left;
}
.title1{
    width:200px;height:30px;
    color: #333;
    font-size: 16px;
    line-height: 30px;
}
.desc{
    color: #999;
    font-size: 14px;
    line-height: 20px;
    display: block;
    overflow: hidden;
}
.entry-btn{
    width: 80px;
    height: 30px;
    margin-top: 10px;
    color: #666;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-color: #eee;
    float: right;
}
.shop-items{
    height: 266px;
    padding: 0;
    margin: 10px -6px;
    list-style: none;
}
.shop-item{
    width: 192px;
    margin: 0 5px;
    float: left;
}
.poster{
    width: 192px;
    height: 192px;
    margin-bottom: 10px;
}
.meta1{
    width:192px;height:66px;
    padding: 0 10px;
}
.meta-title{
    width:172px;height:36px;
    color: #000;
    font-size: 12px;
    line-height:18px;
}
.price{
    width:172px;height:30px;
    color: #dd2727;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
}
/*内容14*/
.wonderful-con{
    width: 1230px;height:6415px;
    margin: 30px auto 0;
}
.wonderful-title{
    color: #666;
    text-align: center;
    height: 43px;
    font-weight: 100;
}
.text-ctn{
    position: relative;
    font-size: 18px;
    line-height: 20px;
}
.icon5{
    position: relative;
    top: 1px;
    margin-right: 4px;
    font-size: 20px;
    color: #fff;
}
.module-content{
    width:1230px;height:1332px;
}
.wonderful-line{
    height: 333px;
}
.wonderful-item{
    float: left;
    width: 235px;
    margin-right: 12px;
    margin-bottom: 7px;
}
.card-item{
    display: block;
    border: 2px solid #fff;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    margin-right: 7px;
    margin-bottom: 7px;
    width: 100%;
    height: 315px;
}
.card-item:hover{
    outline: 1px solid #DE2D2D;
}
.item-pic{
    display: block;
    width: 100%;
    height: 230px;
    overflow: hidden;
}
.item-info{
    display: block;
    padding: 14px 12px 8px;
    text-align: left;
}
.item-desc{
    display: block;
    height: 34px;
    line-height: 14px;
    overflow: hidden;
}
.item-name{
    font-size: 13px;
    line-height: 18px;
    color: #666;
}
.item-detail{
    position: relative;
    display: block;
    height: 33px;
    line-height: 22px;
    margin-top: 2px;
}
.item-price{
    line-height: 32px;
    color: red;
}
.mui-price-integer{
    font-size: 16px;
}
.mui-price-decimal{
    font-size: 14px;
}
.wonderful-item.last{
    margin-right: 0;
}
.tm-end.show{
    width: 80px; height: 45px;
    display: block;
    background: url(../images/end.png) no-repeat;
    content: '\20';
    text-align: center;
    margin: 0 auto 10px;
    background-size: cover;
    z-index: 9;
}
/*内容15*/
.footer{
    width: 100%;
    padding-bottom: 0;
    min-height: 558px;
    border-top: 1px solid #D1D7DC;
    clear: both;
    margin: 0;
    text-align: center;
    background: #fff;
    position: relative;
}
.tmall-ensure{
    width: 1190px;
    height: 100px;
    margin: 25px auto;
    padding: 0;
}
.line{
    width:1230px;height:1px;
    background:#EDEDED;
    margin:0 auto;
}
.tmall-desc{
    width:1230px;height:213px;
    margin:0 auto;
}
.ensure{
    float: left;
    width: 186px;
    padding-left: 52px;
}
.gouwu{
    width:70px;height: 30px;
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.mianfei{
    width: 100px;height: 20px;
    overflow: hidden;
    text-align: left;
    line-height: 20px;
    color: #8b8b8b;
    display: block;
}
.mianfei a{
    color: #8b8b8b;
}
.ma{
    width: 105px;height: 105px;
}
.tmall-copyright{
    border-top: 2px solid #c40000;
    background: #000;
    text-align: left;
    min-height: 177px;
}
.footer-tmallinfo{
    width: 1190px;
    margin: 0 auto;
    color: #fff;
    line-height: 25px;
}
.footer-tmallinfo a{
    margin-right: 3px;
    color: #fff;
}
.footer-otherlink{
    width: 1190px;
    margin: 0 auto;
    color: #fff;
    line-height: 25px;
}
.footer-otherlink a{
    margin-right: 3px;
    color: #fff;
}
.footer-copyright{
    line-height: 20px;
    background: #000;
    color: #a4a4a4;
    width: 1190px;
    margin: 0 auto;
}
.footer-copyright a{
    color: #a4a4a4;
    margin-right: 65px;
}
.footer-copy{
    line-height: 20px;
    background: #000;
    color: #a4a4a4;
    width: 1190px;
    margin: 0 auto;
}
.footer-copy a{
    color: #a4a4a4;
    margin-right: 65px;
}
.footer-copy b{
    display: block;
    color: #686868;
    font-weight: 400;
}
.footer-fp-img{
    width:73px;height:30px;
    background:red;
    float: left;
}
.footer-fp-img1{
    width:80px;height:30px;
    background:red; float: left;
    margin-left:10px;
}